* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
}

.container {
  width: 65%;
  margin: auto;
  height: 100%;
}


header a, main a, footer a {
  text-decoration: none;
  color: inherit;
}

/* Header Top */
.header-top {
  width: 100%;
  height: 80px;
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.header-top .container::after{
  content: '';
  display: table;
  clear:both;
}

#header-left {
  float:left;
  height: 100%;
  line-height: 80px;
  font-size: 15px;
}

#language span {
  padding: 10px 30px 10px 5px;
  border-right: 2px solid #cbd6e2;
}

#language span::after {
  content: '▼';
  font-size: 15px;
  margin-left: 5px;
  color: #7fabd0;
}

#contacts span {
  margin-left: 15px;
}

#header-left #language, #contacts {
  display: inline-block;
}

#header-right {
  float:right;
  height: 100%;
  line-height: 80px;
}

#header-right > i {
  color: #35afc5;
}

#login-button {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ff7a59;
  color: #ff7a59;
  padding: 10px 22px 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin: 0 10px 0 30px;
}

#hubspot-button {
  border-radius: 4px;
  background-color: #ff7a59;
  border: 0px;
  color: #fff;
  padding: 11px;
  font-size: 12px;
  letter-spacing: 1px;
}

/* Header Nav */
.header-nav {
  width: 100%;
  height: 160px;
  background-color: #fff;
  padding-top: 80px;
}

.header-nav .container::after{
  content: '';
  display: table;
  clear:both;
}

#header-nav-left {
  float:left;
  padding: 25px 0px;
}

#header-nav-left img {
  width: 106px;
  height: 30px;
  background-position: center;
}

#header-nav-right{
  float: right;
  height: 80px;
  line-height: 80px;
}

#header-nav-right li {
  list-style-type: none;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  margin-left: 30px;
}

#header-nav-right a.dropdown_item::after {
  content: '▼';
  font-size: 15px;
  margin-left: 5px;
  color: #7fabd0;
}

/* Main */
main {
  width: 100%;
}

/* Banner */
main #banner {
  background-color: #33475b;
}

#banner p {
  color: #fff;
  font-size: 16px;
  padding: 20px;
  line-height: 30px;
  text-align: justify;
}

#banner p span {
  text-transform: uppercase;
}

#banner p a {
  font-weight: bold;
  color: #fff;
  text-decoration: underline;
}

/* SECTION Jumbo  */
section.jumbo {
  background-image: url('img/jumbo.png');
  padding: 90px 0 216px;
}

#jumbo-content {
  width: calc(100% / 3);
}

.jumbo h1 {
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 55px;
  margin-bottom: 30px;
}

.jumbo p {
  font-size: 17px;
  line-height: 28px;
  margin-bottom: 24px;
}

.jumbo button {
  border-radius: 4px;
  background-color: #ff7a59;
  border: 0px;
  color: #fff;
  padding: 30px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 30px;
  width: 50%;
}

.jumbo small {
  display: block;
  width: 50%;
  line-height: 20px;
}

.jumbo small span {
  text-transform: uppercase;
}

/* SECTION Products */
section.products {
  background-color: #f5f8fa;
}

section.products .container {
  padding: 110px 0px 80px;
}

section.products .container::after{
  content: '';
  display: table;
  clear:both;
}

section .products-row {
  width: 100%;
  height: 50%;
}

section.products .products-box {
  width: calc(100%/3 - 20px);
  height: calc(100% - 10px);
  float:left;
  background-color: white;
  margin: 0px 30px 20px 0px;
}

section .products-row .products-box:last-child {
  margin-right: 0px;
}

section .products-row > .products-box.description {
  background-color: #f5f8fa;
}

section.products .description h2 {
  letter-spacing: 1.5px;
  font-size: 26px;
  line-height: 40px;
  margin-bottom: 30px;
}

section.products .description p {
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 14px;
}

section.products .features {
  padding: 50px 40px;
  position: relative;
}

section.products .features .title {
  height: 32px;
  margin-bottom: 30px;
}

section.products .features .title::after {
  content: '';
  display: table;
  clear:both;
}

section.products .features .title img {
  float:left;
  margin-right: 5px;
}

section.products .features .title h4 {
  float:left;
  height: 100%;
  line-height: 32px;
  font-size: 18px;
}

section.products .features p:first-of-type {
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(153,172,194,0.2);
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 25px;
}

section .products-box p:nth-child(3) {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 25px;
}

section.products .features ul {
  margin-bottom: 30px;
}

section.products .features li {
  list-style-type: none;
  line-height: 35px;
  font-size: 12px;
}

section.products .features li::before {
  content:'✓';
  color: white;
  background-color: #ff7a59;
  border-radius: 50%;
  padding: 3px 3px;
  margin-right: 14px;
  font-size: 14px;
}

section.products .features button {
  border-radius: 4px;
  background-color: #ff7a59;
  border: 0px;
  color: #fff;
  padding: 16px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  width: 100%;
}

section.products .features .new {
  background-color: #00bda5;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 0 5px 0;
  text-align: right;
  border-radius: 10px 3px 3px 10px;
  position:absolute;
  top: 20px;
  left: calc(100% - 10%);
  width: 45px;
  height: 20px;
  line-height: 20px;
}

/* SECTION Community */
section.community {
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  color: #fff;
  padding: 130px 0 110px;
}

section.community #community-top {
  width: 80%;
  margin: 0 auto 70px;
  text-align: center;
}

section.community #community-top h2 {
  letter-spacing: 3px;
  line-height: 30px;
  margin-bottom: 30px;
}

section.community #community-top p {
  letter-spacing: 1.5px;
  line-height: 25px;
}

section.community .bottom-row {
  width: 100%;
  border-bottom: 1px solid #fff;
}

section.community .bottom-row:last-of-type {
  border-bottom: none;
}

section.community .bottom-row::after{
  content: '';
  display: table;
  clear:both;
}

#community-bottom .bottom-box {
  width: calc(100% / 4);
  height: 100%);
  float:left;
  border-right: 1px solid #fff;
  padding: 40px 0px;
  text-align: center;
}

#community-bottom .bottom-box:last-of-type {
  border-right: none;
}

#community-bottom .bottom-box h2 {
  width: 100%;
  font-size: 40px;
  letter-spacing: 3px;
  margin: 10px auto;
}

#community-bottom .bottom-box p {
  font-size: 15px;
}

#community-bottom .bottom-box h2.plus::after {
  content:'+';
  font-weight: normal;
  font-size: 20px;
}

#community-bottom img[alt="HubSpot_App_Marketplace"] {
  width: 125px;
}

#community-bottom img[alt="customers_icon"] {
  width: 41px;
}

/* SECTION Customers */
section.customers {
  background-color: #fff;
}

section.customers .container {
  padding: 100px 0px;
}

#customers-top::after{
  content: '';
  display: table;
  clear:both;
}

#customers-top .text-wrapper {
  width: 50%;
  float: left;
}

.text-wrapper h2 {
  font-size: 36px;
  letter-spacing: 3px;
  margin-bottom: 12px;
}

.text-wrapper p {
  font-size: 16px;
  letter-spacing: 1.5px;
  line-height: 28px;
  margin-right: 250px;
}

.text-wrapper p > span {
  font-weight: bold;
}

#customers-top > .logos-wrapper {
  width: 50%;
  float: left;
}

.logos-wrapper .logos-row::after{
  content='';
  display: table;
  clear: both;
}

.logos-wrapper .logos-box {
  width: calc(100% / 4);
  min-height: 60px;
  float:left;
  position: relative;
  margin-bottom: 30px;
}

.logos-wrapper .logos-box > img {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* SECTION Customers - Bottom */
#customers-bottom {
  margin-top: 80px;
  position: relative;
}

#customers-bottom::after {
  content: '';
  display: table;
  clear: both;
}

.customers-bottom-left {
  width: 40%;
  float: left;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(0, -50%);
}

#customers-bottom h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

#customers-bottom h2 ~ p {
  letter-spacing: : 1.5px;
  line-height: 30px;
}

#customers-bottom button {
  border-radius: 4px;
  background-color: #ff7a59;
  border: 0px;
  color: #fff;
  padding: 25px 14px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  width: 40%;
  margin: 30px 0;
}

#customers-bottom small {
  display: block;
}

#customers-bottom small > span {
  text-transform: uppercase;
}

#customers-bottom img {
  width: 30%;
  float: right;
}

/* Footer */
footer {
  width: 100%;
  background-color: #33475b;
  color: #cbd6e2;
}

footer .container {
  padding: 80px 0 50px;
}

/* Footer Nav */
footer ul li {
  list-style-type: none;
}

footer a:hover {
  color: #7fd1de;
}

#footer-top {
  border-bottom: 0.5px solid #cbd6e2;
  padding-bottom: 50px;
}

.footer-nav::after{
  content: '';
  display: table;
  clear:both;
}

.footer-nav-column {
  width: calc(100% / 4);
  float: left;
  line-height:40px;
}

.footer-nav label {
  font-weight: bold;
  color: #fff;
}

.footer-nav li {
  font-size: 14px;
}

.footer-nav .dropdown-menu::after {
  content: '▼';
  font-size: 12px;
  margin-left: 5px;
}

.footer-nav .contact-links {
  margin-top: 20px;
}

.footer-nav button {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  padding: 12px;
  border-radius: 4px;
  border: 0px;
  margin-bottom: 20px;
}

.social-links ul::after {
  content: '';
  display: table;
  clear: both;
}

.social-links li {
  float: left;
  width: calc(100% / 6);
  font-size: 22px;
}

.social-links .hidden-social {
  display: none;
}

/* Languages */
#footer-top .languages {
  text-align: center;
  margin-top: 50px;
}

.languages li {
  display:inline-block;
  font-weight: bold;
  margin-right: 30px;
}

/* Footer Bottom */
#footer-bottom {
  padding-top: 30px;
  position: relative;
}

.footer-bottom-left small {
  display: block;
  margin-top: 15px;
}

.footer-bottom-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  font-weight: bold;
}

.footer-bottom-right a {
  margin: 0 20px 0 20px;
}
