* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #33475b;
}

.container {
  width: 70%;
  margin: auto;
  height: 100%;
}

/* Header Top */
.header-top {
  width: 100%;
  height: 80px;
  background-color: #f5f8fa;
  border-bottom: 1px solid #cbd6e2;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.header-top .container::after{
  content: '';
  display: table;
  clear:both;
}

#header-left {
  float:left;
  height: 100%;
  line-height: 80px;
  font-size: 15px;
}

#language span {
  padding: 10px 30px 10px 5px;
  border-right: 2px solid #cbd6e2;
}

#language span::after {
  content: '▼';
  font-size: 15px;
  margin-left: 5px;
  color: #7fabd0;
}

#contacts span {
  margin-left: 15px;
}

#header-left #language, #contacts {
  display: inline-block;
}

#header-right {
  float:right;
  height: 100%;
  line-height: 80px;
}

#header-right > i {
  color: #35afc5;
}

#login-button {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ff7a59;
  color: #ff7a59;
  padding: 10px 22px 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  margin: 0 10px 0 30px;
}

#hubspot-button {
  border-radius: 4px;
  background-color: #ff7a59;
  border: 0px;
  color: #fff;
  padding: 11px;
  font-size: 12px;
  letter-spacing: 1px;
}

/* Header Nav */
.header-nav {
  width: 100%;
  height: 160px;
  background-color: #fff;
  padding-top: 80px;
}

.header-nav .container::after{
  content: '';
  display: table;
  clear:both;
}

#header-nav-left {
  float:left;
  padding: 25px 0px;
}

#header-nav-left > img {
  width: 106px;
  height: 30px;
  background-position: center;
}

#header-nav-right{
  float: right;
  height: 80px;
  line-height: 80px;
}

#header-nav-right li {
  list-style-type: none;
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
  margin-left: 30px;
}

#header-nav-right li > a {
  text-decoration: none;
  color: #33475b;
  }

#header-nav-right a.dropdown_item::after {
  content: '▼';
  font-size: 15px;
  margin-left: 5px;
  color: #7fabd0;
}

/* Main */
main {
  width: 100%;
}

/* Banner */
main #banner {
  background-color: #33475b;
}

#banner p {
  color: #fff;
  font-size: 16px;
  padding: 20px;
  line-height: 30px;
  text-align: justify;
}

#banner p span {
  text-transform: uppercase;
}

#banner p a {
  font-weight: bold;
  color: #fff;
}

/* SECTION Jumbo  */
section.jumbo {
  background-image: url('img/jumbo.png');
  padding: 90px 0 216px;
}

#jumbo-content {
  width: calc(100% / 3);
}

.jumbo h1 {
  font-size: 40px;
  letter-spacing: 1px;
  line-height: 55px;
  margin-bottom: 30px;
}

.jumbo h1 + p {
  font-size: 17px;
  line-height: 28px;
  margin-bottom: 24px;
}

.jumbo button {
  border-radius: 4px;
  background-color: #ff7a59;
  border: 0px;
  color: #fff;
  padding: 30px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 30px;
  width: 50%;
}

.jumbo button + p {
  font-size: 14px;
  width: 50%;
  line-height: 20px;
}

.jumbo p span {
  text-transform: uppercase;
}

/* SECTION Products */
section.products {
  background-color: #f5f8fa;
}

section.products .container {
  padding: 110px 0px 80px;
}

section.products .container::after{
  content: '';
  display: table;
  clear:both;
}

section .products-row {
  width: 100%;
  height: 50%;
}

section.products .products-box {
  width: calc(100%/3 - 20px);
  height: calc(100% - 10px);
  float:left;
  background-color: white;
  margin: 0px 30px 20px 0px;
}

section .products-row .products-box:last-child {
  margin-right: 0px;
}

section .products-row > .products-box.description {
  background-color: #f5f8fa;
}

section.products .description h2 {
  letter-spacing: 1.5px;
  font-size: 26px;
  line-height: 40px;
  margin-bottom: 30px;
}

section.products .description p {
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 14px;
}

section.products .features {
  padding: 50px 40px;
  position: relative;
}

section.products .features .title {
  height: 32px;
  margin-bottom: 30px;
}

section.products .features .title::after {
  content: '';
  display: table;
  clear:both;
}

section.products .features .title img {
  float:left;
  margin-right: 5px;
}

section.products .features .title h4 {
  float:left;
  height: 100%;
  line-height: 32px;
  font-size: 18px;
}

section.products .features p:first-of-type {
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(153,172,194,0.2);
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 25px;
}

section .products-box p:nth-child(3) {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 25px;
}

section.products .features ul {
  margin-bottom: 40px;
}

section.products .features li {
  list-style-type: none;
  margin-bottom: 18px;
  font-size: 12px;
}

section.products .features li::before {
  content:'✓';
  color: white;
  background-color: #ff7a59;
  border-radius: 50%;
  padding: 3px 3px;
  margin-right: 14px;
  font-size: 14px;
}

section.products .features button {
  border-radius: 4px;
  background-color: #ff7a59;
  border: 0px;
  color: #fff;
  padding: 16px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  width: 100%;
}

section.products .features .new {
  background-color: #00bda5;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 1px;
  padding: 0 5px 0;
  text-align: right;
  border-radius: 10px 3px 3px 10px;
  position:absolute;
  top: 20px;
  left: calc(91%);
  width: 45px;
  height: 20px;
  line-height: 20px;
}

/* SECTION Community */
section.community {
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  color: #fff;
  padding: 50px;
}

#community-top {
}

#community-bottom {
  width: 100%;
}

.community-bottom-row {
  width: 100%;
  border-bottom: 1px solid #fff;
}

.community-bottom-row:last-of-type {
  border-bottom: none;
}

.community-bottom-row::after{
  content: '';
  display: table;
  clear:both;
}

.community-bottom-box {
  width: calc(100% / 4);
  float:left;
  border-right: 1px solid #fff;
}

.community-bottom-box:last-of-type {
  border-right: none;
}

/* SECTION Customers */
section.customers {
  height: 800px;
  background-color: #fff;
}

.customers .container {
  border: 1px solid black;
}

#customers-top {
}

.customers-top-left {
  width: 30%;
  background-color: blue;
  float: left;
}

.customers-logos {
  width: 70%;
  float: left;
}

#customers-top::after{
  content: '';
  display: table;
  clear:both;
}

#customers-bottom {
}

.customers-bottom-left {
  width: 50%;
  float: left;
}

.customers-bottom-right {
  width: 50%;
  float: left;
}

#customers-bottom::after{
  content: '';
  display: table;
  clear:both;
}

.customers-logos-row > img {
  float: left;
  width: calc(100% / 4);
}

.customers-logos-row {
  content: '';
  display: table;
  clear:both;
}

#customers-bottom button {
  border-radius: 4px;
  background-color: #ff7a59;
  border: 0px;
  color: #fff;
  padding: 16px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  width: 50%;
}

.customers-bottom-right img {
  width: 100%;
}

/* Footer */
footer {
  width: 100%;
  background-color: #33475b;
  color: #fff;
}

#footer-top {
  border-bottom: 1px solid #fff;
}

.footer-nav::after{
  content: '';
  display: table;
  clear:both;
}

.footer-nav-column {
  width: calc(100% / 4);
  float: left;
}

footer .links {
  float: right;
}

.clearfix::after{
  content: '';
  display: table;
  clear:both;
}

footer .languages {
text-align: center;
}

#footer-bottom {
}

.footer-bottom-left small {
  display: block;
}

.footer-bottom-left {
  float: left;
}

#footer-bottom::after {
  content: '';
  display: table;
  clear: both;
}

.footer-bottom-right {
  float: right;
}

.languages a, .footer-bottom-right a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
